@charset "utf-8";

/* Project: Grid Practice */
/* Author: Shannon McKaig Buffington */
/* Date:  July 16, 2023 */


html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    /* background-image: url("../images/pexels-johannes-plenio-1105386.jpg");
background-position:bottom;
background-size:cover; */
}


.wrapper {
    margin: 50px 50px 0px 50px;
    line-height: 1.4;
}

header{
height: 300px;
background-image: url("../images/pexels-cottonbro-studio-4822293.jpg");
background-position:bottom;
background-size:cover;
}

header h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'Risque', Arial, Helvetica, sans-serif;
    font-size: 50px;
}


h2 {
    font-size: 24px;
    font-family: 'Risque', Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

/* navigation */
.top-nav ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

.top-nav a {
    background: #0c6ea7;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 1px 2px 5px #000;

}


/* main section */

.main-container {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'left right';
    margin: 50px 0px;
    background: #b2ddf6;
}
.main-image {
    grid-area: left;
    min-width: 400px;
    background: url("../images/pexels-lumn-294674.jpg");
    background-size: cover;
}

.main-info {
    grid-area: right;
}


/* customer gallery section */


.gallery {
    padding: 20px;
    background-color: rgb(20, 78, 153);
}


.gallery-customers {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: rgb(20, 78, 153);
}

.gallery-customers div {
    max-height: 200px;
    overflow: hidden;
}

.gallery-customers img {
    width: 100%;
    /* to fill max space available */
    box-shadow: var(--shadow);

}

/* footer */

footer {
    margin-top: 50px;
}
.store {
    background-color: #3e3e3e;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

footer img {
    width: 100%;
    padding: 20px;
}

.copyright {
    text-align: center;
    background-color: #1b1616;

}

.copyright p {
    margin: 0px;
    padding: 20px;
}
